.compare-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius:1rem;
    background: var(--darkgray);
    color: white;
    width: 100rem;
    height: fit-content;

    width: 100%;
    max-width: 1200px;

    
    
}

.coin-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.coin-info img {
    width: 3rem !important;
    margin-right: 2rem;
    
}

.percent {
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  width: fit-content;
  text-align: center;
}

.green {
  color: #3aef8b;
  border: 1px solid #3aef8b;
}

.red {
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
}

/* New: trend icon circle */
.trend-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
}

.trend-circle.green {
  border-color: #3aef8b;
  color: #3aef8b;
}

.trend-circle.red {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.star {
  font-size: 1.4rem;
  cursor: pointer;
  text-align: right;
}

.symbol {
  color: #fff;
  font-weight: 600;
}

.name {
  color: #9ca3af;
  font-size: 12px;
}
.star {
  cursor: pointer;
  font-size: 1.4rem;
  color: #777;
  transition: color 0.2s ease, transform 0.2s ease;
}

.star:hover {
  transform: scale(1.2);
}

.star.active {
  color: red;
}
