.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius:1rem;
}
.list-row:hover{
    background-color: var(--darkgray);
    transition: all 0.3s;
    
}
.list-row td{
    text-align: center;
    width: 10rem;
}
.td-image{
    width: 3rem !important;
    margin-right: 2rem;
}
.td-center-aline{
    text-align: center;
}
.td-right-aline{
    text-align: right;
}
.mobile-td-mkt{
    display: none;   
}

@media only screen and (max-width: 1100px) {
    .td-icon{
        display: none;

    }
}
@media only screen and (max-width: 1000px) {
    .td-total-volume{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .desktop-td-mkt{
        display: none;
    }
    .mobile-td-mkt{
        display: table-cell;
    }
} 